/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #8c1a11;
  color: white;
}


html{
    background-color: #333333;

}
#nav{
  position:fixed;
  top:0;
  right:50%;
  z-index: 9999;
}

section{
  min-height: 500px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
li {
      text-decoration: none;
  
}
#navbar{
  
    vertical-align: middle;
    color: black;
    width: auto;
    height: 5rem;
    background-color: white;
    text-decoration: none;
    overflow: auto;
 
   
}
.left{
    float: left;
}
.right{
    float:right;
}


#nav--left{
    
    float:left;
    width: 50%;
    height: auto;
    border: none;
    margin-right: -4px;
    background-color: white;
}
#nav--right{
    float: right;
    width: 50%;
    height: auto;
    border: none;
    margin-right: -4px;
}


.nav--item-button:hover{
    top: auto;
    height: 5rem;;
    color: white;
    background-color: #333333;
    
}



#coverPage{
    padding: 0;
    color: white;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    width: 45rem;
    height: 20rem;
  
    text-align: center;
    vertical-align: middle;
    font-size:5rem;
	font-weight:700;
	line-height:150px;
	margin-top: 7rem;
	margin-bottom:7rem;
	font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    
    
    
    
}
.center-div
{
     margin: 0 auto;

   
}
#links{
    width:22.15rem;
    border: solid;  
    border-color: white;
    border-style: solid;
    text-align: center;
  
    background-color: #8c1a11;
}
.button--link:hover{
    background-color: white;
    color:black;
    
    
}
.button--link{
   
    padding:2rem;
    height: auto;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    background-color: #8c1a11;
    color: white;
    outline: none;
}
#button--github{
  
    text-align: center;

  
    
}
#button--resume{
 
    text-align: center;

  
    
}
#button--linkedln{

    text-align: center;

  
    
}

#aboutMe{
    
    margin-top: 7rem;
	margin-bottom:7rem;
    color: white;
    background-color: transparent;
    width: 40rem;
    border:solid;
    font-size: 2rem;
    border-color: white;
    padding: 1rem;
    
}
p.red{
    color: #8c1a11; 
   
	
}
p.white{
    color:white;
}
#education{
    background-color: transparent;
    width: 60rem;
    height: 40rem;
    color: inherit;
    margin: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    
}
img.icon {
    height: 4rem;
    height: 4rem;
    border-radius: 50%; 
	
	border-radius:50%;
	float: left;
	display: block;
	margin: 0px 15px 15px 15px; 
	background-color: #fff;
	opacity: 0.8;
	z-index: 0;
	filter: grayscale(100%);
	-webkit-transition: all .4s ease; }
 
	img.icon:hover {
		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
		filter: none; }
li{
    padding-top: 1rem;
}
#courseWork{
    float: left;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    margin: 0rem 2rem 0rem 2rem;
 
}
#classes{
    margin-left: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.skill{
    text-align: center; 
    border: 1px solid #8c1a11;
	margin-right: 10px;
	text-transform: uppercase;
	font-weight: 500;
	width: auto;
	display: inline-block;
	font-size: 11px;
	line-height: 1.33333em;
	padding: 7px 18px;
    color: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px; }
}
#projects{
    width: 1rem;
    height: 40rem;
    margin: 4rem;
    text-align: center;
    width: 20rem;
    background-color: transparent;
  
}
.header{
   
    color: white;
    text-align: center;
    font-family: Helvetica Neue',Helvetica,Arial,sans-serif;
    
}

.container{
		height: 65%;
		padding-top: 1rem;
        padding-bottom: 1rem;
    
        
		
}

.carousel-item{
    
    padding-top: 1rem;
    margin: auto;
    width: 40rem;
    border-style: solid;
    border-width: thick;
    border-color: white;
    text-align: center;
    padding-bottom: 1rem;
  
    
}

.carousel-image{
    width: 30rem;
    height: 15rem;
    border: solid;
    
}

.prev,.next{
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  top: 150rem;
  
    
    
}
.prev{
    left: 25rem;
}

.next {
  right: 25rem;
 
}



.prev:hover, .next:hover {
  background-color: rgba(100,0,0,0.8);
}

/* Caption text */
.carousel-text {
  color: white;
  font-size: 1.5rem;
  bottom: 8px;
  z-index: .5; 
  width: auto;
  text-align: center; 
  margin-left: 3rem; 
  margin-right: 3rem;
}
.carousel-header-text{
  color: white;
  font-size: 3rem;
  z-index: .5; 
  width: auto;
  text-align: center;
    
    
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#footer {
    
	background: #8c1a11;
	padding-right: 2rem;
	min-height: 2rem;
	text-align: left;
	color: #b1b1b1;
	padding-top: 1rem;
	font-size: 1rem;
	line-height: 2rem; }






